/* Styles for Current assumption site */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;

  font-family: Helvetica, sans-serif;
  background-color: #555;
  color: #eee;
}

.site-title {
  font-size: 1.35em;
  font-weight: normal;
}

.main {
  max-width: 1024px;
}

.current-assumption .content{
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}

.current-assumption .date {
  text-align: right;
}

header, footer {
  text-align: right;
  width: 100%;
}
